# LombokAlgoritma Code Owners
*                 @codinglombok
/typescript/      @codinglombok
/rust/            @codinglombok
/go/              @codinglombok
/python/          @codinglombok
/php/             @codinglombok
/vectors/         @codinglombok
/docs/SPEC_*      @codinglombok
/.github/         @codinglombok
