# LombokAlgoritma Code Owners
*                 @codinglombok
/src/             @codinglombok
/rust/            @codinglombok
/go/              @codinglombok
/ports/           @codinglombok
/tests/vectors/   @codinglombok
/.github/         @codinglombok
