<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         failOnWarning="true"
         failOnRisky="true">
    <testsuites>
        <testsuite name="LombokAlgoritma PHP">
            <directory>ports/php/tests</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>ports/php/src</directory>
        </include>
    </source>
    <coverage>
        <report>
            <html outputDirectory="coverage-php"/>
            <clover outputFile="coverage-php.xml"/>
        </report>
    </coverage>
</phpunit>
